# Import Dependencies

In [64]:
import pandas as pd
from sklearn.cluster import KMeans

## Import Dataset

In [65]:
df = pd.read_csv('seattle-weather.csv')
df.head()

         date  precipitation  temp_max  temp_min  wind  weather
0  2012-01-01            0.0      12.8       5.0   4.7  drizzle
1  2012-01-02           10.9      10.6       2.8   4.5     rain
2  2012-01-03            0.8      11.7       7.2   2.3     rain
3  2012-01-04           20.3      12.2       5.6   4.7     rain
4  2012-01-05            1.3       8.9       2.8   6.1     rain

# Data Cleaning & Normalization

In [66]:
# Remove Date Column
df = df.drop('date',axis=1)
df.head()

   precipitation  temp_max  temp_min  wind  weather
0            0.0      12.8       5.0   4.7  drizzle
1           10.9      10.6       2.8   4.5     rain
2            0.8      11.7       7.2   2.3     rain
3           20.3      12.2       5.6   4.7     rain
4            1.3       8.9       2.8   6.1     rain

In [67]:
# View All Values in Weather Category
df['weather'].value_counts()

rain       641
sun        640
fog        101
drizzle     53
snow        26
Name: weather, dtype: int64

In [68]:
"""
Create Copy of df so that you can use one copy for training and have the orginal
one for later when wanting to compare the predicted labels
"""

train_df = df

In [69]:
# Remove Labels
train_df = train_df.drop('weather',axis=1)
train_df.head()

   precipitation  temp_max  temp_min  wind
0            0.0      12.8       5.0   4.7
1           10.9      10.6       2.8   4.5
2            0.8      11.7       7.2   2.3
3           20.3      12.2       5.6   4.7
4            1.3       8.9       2.8   6.1

# Model

In [70]:
Kmeans = KMeans(n_clusters=5, n_init=100000, max_iter=1000)

# Training & Prediction

In [71]:
prediction = Kmeans.fit_predict(train_df)
prediction

array([1, 4, 1, ..., 0, 0, 0], dtype=int32)

In [72]:
df['Predictions'] = prediction
df

      precipitation  temp_max  temp_min  wind  weather  Predictions
0               0.0      12.8       5.0   4.7  drizzle            1
1              10.9      10.6       2.8   4.5     rain            4
2               0.8      11.7       7.2   2.3     rain            1
3              20.3      12.2       5.6   4.7     rain            4
4               1.3       8.9       2.8   6.1     rain            0
...             ...       ...       ...   ...      ...          ...
1456            8.6       4.4       1.7   2.9     rain            0
1457            1.5       5.0       1.7   1.3     rain            0
1458            0.0       7.2       0.6   2.6      fog            0
1459            0.0       5.6      -1.0   3.4      sun            0
1460            0.0       5.6      -2.1   3.5      sun            0

[1461 rows x 6 columns]

In [73]:
# Export results as csv
df.to_csv('Results.csv')